@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@500;700;900&family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans';
}

.container {
  height: 100vh;
  width: 100vw;
  color: #131112;
  outline: 1px solid red;
  z-index: 0;
}

/* -- NAV BAR STYLES -- */

.nav-barCntr {
  display: flex;
  justify-content: space-between;
  outline: 1px solid #9ca2a3;
  height: 2.7rem;
}

.sidebarBtn {
  position: relative;
  left: .5rem;
  top: .5rem;
  font-size: 20px;
  /* outline: 1px solid black; */
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebarBtn:hover {
  background: #dde1e8;
  transition: .125s ease-in-out;
}

.sidebarBtn:active {
  background: none;
  outline: 1px solid #dde1e8;
  transition: .2s ease-in-out;;
}

.searchbarCntr {
  position: relative;
  top: .7rem;
  right: 1rem;
  height: 1.4rem;
  outline: 1px solid #dde1e8;
  border-radius: 10px;
  overflow: hidden;
}

.searchbar {
  position: relative;
  bottom: 10px;
  left: 4px;
  outline: none;
  border: none;
}

.searchbar:active {
  outline: none;
  border: none;
}

.searchBtn {
  position: relative;
  bottom: 2px;
  outline: 1px solid #dde1e8;
  font-size: 20px;
  padding: 3px 5px 3px 3px;
  cursor: pointer;
}

.searchBtn:hover {
  background: #dde1e8;
}

/* -- SIDEBAR STYLES -- */

.sidebar {
  position: absolute;
  bottom: -0px;
  left: -30rem; 
  width: 40%;
  height: 100vh;
  background: linear-gradient( #f2f5ff, #dde1e8);
  box-shadow: 2px 0px 6px #dde1e8;
  outline: 1px solid #dde1e8;
  z-index: 1;
}

.sidebar.active {
  left: 0rem;
}

.sidebarBtnOpen {
  position: relative;
  left: 6rem;
  top: 1rem;
  font-size: 20px;
  /* outline: 1px solid black; */
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebarBtnOpen:hover {
  background: #dde1e8;
  transition: .125s ease-in-out;
}

.sidebarBtnOpen:active {
  background: none;
  outline: 1px solid #dde1e8;
  transition: .2s ease-in-out;;
}

.categoriesCntr {
  position: relative;
  top: 4rem;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* outline: 1px solid red; */
 
}

.category {
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.category:hover {
  text-decoration: underline;
}

/* -- IND BOOK STYLES -- */

.searchBooksCntr {
  position: relative;
  bottom: 1rem;
  height: 100vh;
  /* outline: 1px solid red; */
}

.searchRsltsHeading {
  font-family: 'M PLUS 1';
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  box-shadow: 0px 1px 0px #9ca2a3;
  /* outline: 1px solid green; */
}

.booksCntr {
  position: relative;
  bottom: 1rem;
  height: 100vh;
  overflow: hidden;
  /* outline: 1px solid red; */
}

.indBookCntr {
  display: flex;
  /* justify-content: space-evenly;  */
  box-shadow: 1px 0px 0px #444545, -1px 0px 0px #444545;
  cursor: pointer;
  /* outline: 1px solid black; */
}

.indBookCntr:nth-child(even) {
  background: rgba(242, 245, 244, 1);
}

.indBookCntr:hover {
  background: #e2dfdf;
}

.thumbnailBook {
  position: relative;
  top: .6rem;
  left: 1rem;
  height: 60px;
  width: 40px;
  outline: 1px solid black;
}

.mainInfoCntr {
  position: relative;
  left: 1.5rem;
  width: 70vw;
  /* outline: 1px solid red; */
}

.indBookTitle {
  position: relative;
  /* left: 2rem; */
  bottom: 8px;
  /* width: 75vw; */
  font-family: 'M PLUS 1';
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 600;
  overflow: hidden;
  /* outline: 1px solid red; */
}

.authorGenreCntr {
  position: relative;
  /* left: 2rem; */
  bottom: 17px;
  width: 105%;
  display: flex;
  justify-content: space-between;
  height: 1.5rem;
  /* outline: 1px solid red; */
  font-size: 11px;
  align-items: center;
  pointer-events: none;
}

/* -- SAVED BOOKS STYLES -- */

.savedBooksCntr{
  position: relative;
  bottom: 1rem;
  height: 100vh;
}

.savedBooksHeading {
  font-family: 'M PLUS 1';
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  box-shadow: 0px 1px 0px #9ca2a3;
}

.removeBtn {
  position: relative;
  top: .8rem;
  right: 1.2rem;
  height: 1.2rem;
  font-size: 13px;
  font-weight: 600;
  padding: 1px 3px;
  border-radius: 2px;
  cursor: pointer;
  /* outline: 1px solid red; */
}

.removeBtn:hover {
  background: #ffffff;
  transition: .125s ease-in-out;
}

.removeBtn:active {
  outline: 1px solid #dde1e8;
  background: none;
  transition: .125s ease-in-out;
}

/* -- IND BOOK STYLES -- */

.indBookView {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* bottom: 1rem; */
  height: 100vh;
  /* outline: 1px solid red; */
}

.thumbnail {
  position: relative;
  top: 1rem;
  height: 10rem;
  width: 8rem;
  outline: 1px solid black;
}

.titleBook {
  position: relative;
  top: .5rem;
  width: 70%;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
  /* outline: 1px solid red; */
}

.authorBook {
  position: relative;
  bottom: 1rem;
  font-size: 13px;
  letter-spacing: 1px;
  /* outline: 1px solid red; */
}

.dateGenreCntr {
  position: relative;
  bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 1.3rem;
  font-size: 15px;
  align-items: center;
  /* outline: 1px solid red; */
}

.descriptionBook {
  position: relative;
  bottom: 1.5rem;
  height: 5rem;
  width: 85%;
  font-size: 15px;
  padding: 5px;
  outline: 1px solid #f2f5ff;
}

.saveBookCntr {
  position: relative;
  bottom: 1.5rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid black; */
}

.cllctnBook {
  width: 50%;
  font-size: 15px;
  letter-spacing: 1px;
}

.saveBtn {
  font-size: 13px;
  font-weight: 600;
  padding: 2px 5px;
  color: #5c7aff;
  outline: 1px solid #5c7aff;
  border-radius: 2px;
  cursor: pointer;
}

.saveBtn:hover {
  background: #5c7aff;
  color: #fff;
  transition: .2s ease-in-out;
}

.saveBtn:active {
  outline: 3px solid #5c7aff;
  color: #5c7aff;
  background: none;
  transition: .2s ease-in-out;
}

.addCommentCntr {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: .8rem;
  width: 85%; 
  /* outline: 1px solid red; */
}

.addComment {
  outline: 1px solid #9ca2a3;
  border: none; 
  width: 95%;
  font-size: 15px;
  height: 1.2rem;
  padding: 2.5px 5px;
}

.addComment:focus {
  border: none;
}

.addBtn {
  position: relative;
  top: 8px;
  width: 95%;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 1.5px 5px;
  outline: 1px solid #dde1e8;
  border-radius: 2px;
  cursor: pointer;
}

.addBtn:hover {
  outline: 1px solid #5c7aff;
  color: #5c7aff;
  transition: .1s ease-in-out;
} 

.addBtn:active {
  outline: none;
  background: #5c7aff;
  color: #fff;
  transition: .1s ease-in-out;
}

.commentsCntr {
  position: relative;
  top: .4rem;  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 10rem;
  outline: 1px solid #dde1e8;
  overflow-x: hidden;
  overflow-y: scroll;
}

.commentsCntr::-webkit-scrollbar {
  width: 0px; 
}

.indComment {
  position: relative;
  top: .4rem;
  right: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  font-size: 14px;
  padding: 3px 0px 3px 4px;
  margin-bottom: .4rem;
  outline: 1px solid black; 
  border-radius: 3px;
}

.indComment p {
  position: absolute;
  right: .8rem;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  padding: 0px 3px;
  /* outline: 1px solid red; */
  border-radius: 3px;
}

.indComment p:hover {
  background: #d00000;
  color: #FFF;
  transition: .2s ease-in-out;
}

.indComment p:active {
  background: none;
  color: #d00000;
  transition: .1s ease-in-out;
}

/* -- MEDIA QUERIES -- */

@media screen and (min-width: 450px) {
  .sidebarBtnOpen {
    position: relative;
    left: 10rem;
  }
}

@media screen and (min-width: 600px) {
  .sidebarBtn {
    top: .3rem;
    font-size: 21px;
    padding: 5px;
  }

  .searchbar {
    width: 15rem;
    bottom: 15px;
    font-size: 14px;
    /* outline: 1px solid red; */
  }

  .searchBtn {
    font-size: 22px;
    padding: 5px 6px 5px 5px ;
  }

  .searchbarCntr {
    top: .55rem;
    right: 1.5rem;
    height: 1.55rem;
  }
  
  .sidebarBtnOpen {
    top: -20rem;
  }
  
  .sidebar {
    position: relative;
    /* bottom: -40rem; */
    left: 0px;
    height: 1.5rem;
    width: 100vw;
    background: none;
    box-shadow: 0px 1px 0px #9ca2a3;
  }
  
  .categoriesCntr {
    top: -1.8rem;
    height: 1.5rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  
  .category {
    /* outline: 1px solid red; */
    font-size: 13px;
  }

  .dateGenreCntr {
    width: 50%;
  }

  .descriptionBook, .addCommentCntr {
    width: 70%;
  }

  .saveBookCntr {
    width: 50%;
  }

  .cllctnBook {
    width: 30%;
  }

  .saveBtn {
    padding: 2px 10px;
  }

  .commentsCntr {
    width: 92vw;
  }

  .removeBtn {
    right: -3.5rem;
  }
}

@media screen and (min-width: 950px) {
  .sidebarBtn {
    top: .25rem;
    font-size: 23px;
    padding: 6px;
  }

  .searchbar {
    width: 17rem;
    bottom: 15px;
    font-size: 16px;
    /* outline: 1px solid red; */
  }

  .searchBtn {
    font-size: 22px;
    padding: 5px 7px 7px 6px ;
  }

  .searchbarCntr {
    top: .55rem;
    height: 1.6rem;
  }
  
  .sidebar {
    position: relative;
    /* bottom: -40rem; */
    left: 0px;
    height: 1.6rem;
    width: 100vw;
    background: none;
    box-shadow: 0px 1px 0px #9ca2a3;
  }
  
  .categoriesCntr {
    top: -1.8rem;
    height: 1.5rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  
  .category {
    /* outline: 1px solid red; */
    font-size: 15px;
  }

  .thumbnail {
    top: 1.2rem;
    height: 12rem;
    width: 9rem;
  }

  .titleBook {
    top: -.5rem; 
    font-size: 20px;
    letter-spacing: 4px;
  }

  .authorBook {
    top: -3rem;
    font-size: 16px;
    letter-spacing: 2px;
  }

  .dateGenreCntr {
    top: -4.5rem;
    font-size: 15px;
    letter-spacing: 2px;
    width: 40%;
  }

  .descriptionBook, .addCommentCntr {
    top: -5rem;
    font-size: 17px;
    width: 60%;
  }

  .addCommentCntr { top: -6rem; }

  .addComment, .addBtn {
    font-size: 16px;
    padding: 4px 7px;
  }

  .addBtn { letter-spacing: 2px; }

  .saveBookCntr {
    top: -6rem;
    width: 50%;
  }

  .cllctnBook {
    font-size: 17px;
    padding: 1px 5px;
    width: 30%;
  }

  .saveBtn {
    font-size: 16px;
    padding: 2px 10px;
  }

  .commentsCntr {
    top: -5rem;
    width: 80vw;
  }

  .indComment {
    font-size: 16px;
    margin-bottom: 9px;
  }

  .removeBtn {
    right: -3.5rem;
  }

  .thumbnailBook {
    height: 65px;
    width: 45px;
    left: 7.5rem;
  }

  .indBookView {
    display: flex;
    justify-content: space-between;
  }

  .mainInfoCntr {
    left: 10rem;
    width: 60vw;
    /* outline: 1px solid red; */
  }

  .authorGenreCntr {
    font-size: 13px;
    width: 90%;
  }

  .removeBtn {
    right: -10rem;
  }
}

@media screen and (min-width: 1300px) {
  .nav-barCntr {
    height: 3rem;
  }
  
  .sidebarBtn {
    left: 2rem;
    top: .3rem;
    font-size: 25px;
    padding: 7px;
  }

  .searchbar {
    width: 20rem;
    bottom: 19px;
    font-size: 17px;
    /* outline: 1px solid red; */
  }

  .searchBtn {
    font-size: 25px;
    padding: 6px 8px 8px 7px ;
  }

  .searchbarCntr {
    right: 4rem;
    top: .55rem;
    height: 1.8rem;
  }
  
  .sidebar {
    height: 1.8rem;
  }
  
  .categoriesCntr {
    top: -1.8rem;
    height: 1.8rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  
  .category {
    /* outline: 1px solid red; */
    font-size: 17px;
  }

  .thumbnail {
    top: .8rem;
    height: 13.5rem;
    width: 10rem;
  }

  .titleBook {
    top: -1.8rem; 
    font-size: 18px;
    letter-spacing: 5px;
  }

  .authorBook {
    top: -5rem;
    font-size: 15px;
    letter-spacing: 2px;
  }

  .dateGenreCntr {
    top: -7rem;
    font-size: 16px;
    letter-spacing: 2px;
    width: 35%;
  }

  .descriptionBook, .addCommentCntr {
    top: -9rem;
    font-size: 16px;
    width: 55%;
  }

  .addCommentCntr { top: -12rem; }

  .addComment, .addBtn {
    font-size: 16px;
    padding: 4px 8px;
  }

  .addBtn { letter-spacing: 2px; }

  .saveBookCntr {
    top: -11rem;
    width: 45%;
  }

  .cllctnBook {
    font-size: 16px;
    padding: 1px 5px;
    width: 25%;
  }

  .saveBtn {
    font-size: 15px;
    padding: 2px 12px;
  }

  .commentsCntr {
    top: -12rem;
    width: 63vw;
  }

  .indComment {
    top: 15px;
    font-size: 15px;
    margin-bottom: 9px;
  }

  .removeBtn {
    padding: 4px 10px;
    font-size: 15px;
    top: 8px;
    right: -17rem;
  }

  .savedBooksHeading, .searchRsltsHeading {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .thumbnailBook {
    height: 68px;
    width: 48px;
    left: 16rem;
  }

  .indBookView {
    display: flex;
    justify-content: space-between;
  }

  .mainInfoCntr {
    left: 17rem;
    width: 53vw;
    /* outline: 1px solid red; */
  }

  .indBookTitle {
    font-size: 18px;
  }

  .authorGenreCntr {
    font-size: 15px;
    width: 90%;
  }
}