@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@500;700;900&family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans';
}

.container {
  height: 100vh;
  width: 100vw;
  color: #131112;
}

/* -- NAV BAR STYLES -- */

.nav-barCntr {
  display: flex;
  justify-content: space-between;
  outline: 1px solid #9ca2a3;
  height: 2.7rem;
}

.sidebarBtn {
  position: relative;
  left: .5rem;
  top: .5rem;
  font-size: 20px;
  /* outline: 1px solid black; */
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebarBtn:hover {
  background: #dde1e8;
  transition: .125s ease-in-out;
}

.sidebarBtn:active {
  background: none;
  outline: 1px solid #dde1e8;
  transition: .2s ease-in-out;;
}

.searchbarCntr {
  position: relative;
  top: .7rem;
  right: 1rem;
  height: 1.4rem;
  outline: 1px solid #dde1e8;
  border-radius: 10px;
  overflow: hidden;
}

.searchbar {
  position: relative;
  bottom: 10px;
  left: 4px;
  outline: none;
  border: none;
}

.searchbar:active {
  outline: none;
  border: none;
}

.searchBtn {
  position: relative;
  bottom: 2px;
  outline: 1px solid #dde1e8;
  font-size: 20px;
  padding: 3px 5px 3px 3px;
  cursor: pointer;
}

.searchBtn:hover {
  background: #dde1e8;
}

/* -- SIDEBAR STYLES -- */

.sidebar {
  position: relative;
  bottom: 8.1rem;
  width: 40%;
  height: 100vh;
  background: linear-gradient( #f2f5ff, #dde1e8);
  box-shadow: 2px 0px 6px #dde1e8;
  outline: 1px solid #dde1e8;
}

.sidebarBtnOpen {
  position: relative;
  left: 6rem;
  top: 1rem;
  font-size: 20px;
  /* outline: 1px solid black; */
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebarBtnOpen:hover {
  background: #dde1e8;
  transition: .125s ease-in-out;
}

.sidebarBtnOpen:active {
  background: none;
  outline: 1px solid #dde1e8;
  transition: .2s ease-in-out;;
}

.categoriesCntr {
  position: relative;
  top: 7rem;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* outline: 1px solid red; */
 
}

.category {
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.category:hover {
  text-decoration: underline;
}